<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
<div th:fragment="footer">
    <footer class="footer bg-light d-flex justify-content-center align-items-center">
	        <div class="container text-center">
            <span class="text-muted">
				&copy; 2021 - CIS 536 (Bookclub) | <a href="https://www.bellevue.edu"
				target="_blank">Bellevue University</a>
		  <p class="float-end py-5">
			<a href="#">Back to top</a>
			</p>
        </div>
    </footer>
</div>
</body>
<br>
<br>
</html>
